<h5> Login component </h5>


<form [formGroup]="form" (ngSubmit)="submit()">
  <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
 

</form>


<button 
(click)="getAuthUrl()"
class="btn btn-primary submit-button">getAuthUrl</button>

<button 
(click)="getMe()"
class="btn btn-primary submit-button">getMe</button>


<button 
(click)="setToken()"
class="btn btn-primary submit-button">setToken</button>

<button 
(click)="removeToken()"
class="btn btn-primary submit-button">removeToken</button>

<hr>
<a 
class="btn btn-success btn-block submit-button"
[href]="authUrl">Link autenticazione</a>
<hr>
{{authUrl}}
<hr>
{{infoMe | json}}
<hr>


