<a [routerLink]="'/'">info</a>-<a [routerLink]="'/main'">main</a>-<a [routerLink]="'/json'">json</a>-<a [routerLink]="'/json/date'">date</a>-<a [routerLink]="'/json/user'">user</a>-
<a [routerLink]="'/json/cf'">codice fiscale</a>-
<a [routerLink]="'/json/iban'">iban</a>

<router-outlet></router-outlet>
<h3>Json powered</h3>
<ul>
  <li>Custom validation in template options</li>
  <li>Hide Expression con parametri legati a condizioni di altri parametri</li>
  <li>Campi calolati o valori dipendenti da altri</li>
  <li>Json powered cascade select https://github.com/ngx-formly/ngx-formly/pull/1280/files</li>
  <li>Json Schema Trasnformer extra: https://stackblitz.com/edit/angular-bwt5jb?file=src%2Fapp%2Fapp.module.ts</li>
</ul>

<!--
<form [formGroup]="form" (ngSubmit)="submit()">
  <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
  <button type="submit" class="btn btn-primary submit-button">Submit</button>
</form>
-->


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->