
/**

href="/node_modules/bootstrap-italia/dist/css/bootstrap-italia.min.css"

@import '~bootstrap/dist/css/bootstrap.min.css';
*/

/** @import '~bootstrap/dist/css/bootstrap.min.css'; */
/** @import '~bootstrap-italia/css/bootstrap-italia.css'; */
/** @import 
"/node_modules/bootstrap/dist/css/bootstrap.min.css";*/

body { padding: 10px; }
/*
label { 
  cursor: default; 
  color: red;
 
  margin-top: -20px;
}
*/

/**  Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license */